.user-select-none {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
/*------------*/
#timesheet {
	@task-list-width: 290px;
	height: 100%;

	table {
		white-space: nowrap;
		font-size: 11px;
	}

	td, th, span {
		padding: 7px 1px;
		overflow: hidden;
		text-align: center;
	}

	.wrapper {
		overflow: scroll;
		height: 80%;
		top: 0px;
		bottom: 0px;
	}

	.task-list {
		width: @task-list-width;
		float: left;
		z-index: 600;
		position: absolute;
		height: 100%;

		.wrapper {
			overflow-y: hidden;
		}

		td, th {
			width: 20px;
		}

		// ячейка с названием задачи в левой колонке
		td.tt {
			max-width: 80px;
			text-align: left;
			font-size: 11px;
			padding-left: 4px;
			cursor: pointer;

			&.priority-3 {
				padding-left: 20px;
				position: relative;
				&:before {
					content: "\f06d";
					display: block;
					font-family: FontAwesome;
					font-size: 12px;
					line-height: 10px;
					height: 10px;
					width: 10px;
					position: absolute;
					left: 6px;
					top: 10px;
					margin: 0;
				}
			}
		}

		td.tp {
			color: #FFF;
		}

		// строка с именем пользователя в левой колонке
		td.user {
			font-weight: bold;
			padding: 0px 1px;
			line-height: 29px;

			.avatar {
				height: 16px;
				width: 16px;
			}
		}
	}

	.task-hours {
		padding-left: @task-list-width+10px;
		width: 99%;
		height: 100%;
		float: left;
		position: absolute;
		z-index:50;

		.table-head {
			overflow: hidden;
		}

		td, th {
			min-width: 30px;
			cursor: pointer;
			.user-select-none();

			&:hover {
				background: #ccc;
			}

			&.dayoff {
				background: #ccc;
			}

			&.current_day {
				background: #c00;
			}

			&.timesheet-day {

			}
		}
	}
}

.switcher {
	height: 24px;
	width: 60px;
	cursor: pointer;
	display: inline-block;
	position: relative;

	.user-select-none();

	&>input[type=checkbox] {
		left: -100000px;
		position: absolute;
		visibility: hidden;
	}

	.switcher-toggler {
		background: #fff;
		border-radius: 9999px;
		height: 20px;
		margin-left: 1px;
		margin-top: 2px;
		width: 20px;
		-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.3);
		box-shadow: 0 1px 5px rgba(0,0,0,.3);
		left: 0;
		position: absolute;
		text-align: center;
		-webkit-transition: all .2s;
		transition: all .2s;
	}

	.switcher-inner {
		border-radius: 9999px;
		display: block;
		height: 100%;
		overflow: hidden;
		white-space: nowrap;
		width: 100%;
		word-spacing: 0;

		div {
			display: inline-block;
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
			text-align: center;
			-webkit-transition: all .2s;
			transition: all .2s;

			color: #fff;
			font-size: 11px;
			font-weight: 600;
			line-height: 24px;
		}

		.switcher-state-on {
			background: #5ebd5e;
			padding-right: 20px;

			margin-left: -100%;
		}

		.switcher-state-off {
			background: #444;
			padding-left: 20px;
		}
	}

	&.checked {
		.switcher-toggler {
			margin-left: -21px;
			left: 100%;
		}

		.switcher-state-on {
			margin-left: 0;
		}
	}

	&.switcher-theme-square {
		.switcher-toggler {
			border-radius: 2px;
			margin-left: 2px;
		}

		.switcher-inner {
			border-radius: 3px;
		}

		&.checked {
			.switcher-toggler {
				margin-left: -22px;
			}
		}
	}
}