@import "functions";

#timesheet {
	@task-list-width: 290px;

	table {
		white-space: nowrap;
		font-size: 11px;
	}

	td, th, span {
		padding: 7px 1px;
		overflow: hidden;
		text-align: center;
	}

	.wrapper {
		overflow: scroll;
		height: 80%;
		top: 0px;
		bottom: 0px;
	}

	.task-list {
		width: @task-list-width;
		float: left;
		z-index: 600;

		.wrapper {
			overflow: hidden;
			padding-bottom: 18px;
		}

		table {
			width: @task-list-width;
		}
		// ячейка с названием задачи в левой колонке
		td.tt {
			text-align: left;
			padding-left: 4px;
			cursor: pointer;
			width: 230px;
			max-width: 230px;

			&.active,
			&:hover {
				background-color: #fdffd2;
			}

			&.priority-3 {
				padding-left: 20px;
				position: relative;
				&:before {
					content: "\f06d";
					display: block;
					font-family: FontAwesome;
					font-size: 12px;
					line-height: 10px;
					height: 10px;
					width: 10px;
					position: absolute;
					left: 6px;
					top: 10px;
					margin: 0;
				}
			}
		}

		td.tp, th.tp {
			color: #FFF;
			width: 30px;
		}

		// строка с именем пользователя в левой колонке
		td.user {
			font-weight: bold;
			padding: 0px 1px;
			line-height: 29px;

			.avatar {
				height: 16px;
				width: 16px;
			}
		}
	}

	.task-hours {
		padding-left: @task-list-width+10px;
		width: 99%;
		z-index:50;

		.table-head {
			overflow: hidden;
			margin-right: 18px;
		}

		tr.timesheet_summary {
			td {
				border: 0px;
				font-weight: bold;
			}
		}

		tr.my_task {
			td {
				cursor: pointer;

				&:hover {
					background: #ccc;
				}
			}
		}

		td, th {
			min-width: 30px;
			.user-select-none();

			&.dayoff {
				background: #ccc;
			}

			&.current_day {
				background: #c00;
			}

			&.timesheet-day {
				cursor: pointer;

				&:hover {
					background: #999;
				}
			}

			&.commented {
				cursor: pointer;
				background: #dce1a3;

				&:hover {
					background: #ccc;
				}
			}
		}
	}
}

#task_description {
	position: relative;

	.comment {
		border: solid 1px #ccc;
		background: #eee;
		padding: 15px;
		margin-top: 15px;
		border-radius: 5px;
	}

	.microtask_list {
		.microtask {
			.microtask_remove {
				display: none;
			}

			&.checked {
				label {
					text-decoration: line-through;
				}
			}

			&:hover {
				.microtask_remove {
					display: inline;
					cursor: pointer;
				}
			}
		}
	}

	/* dropzone.js поле для закидывания файлов */
	.dropzone {

		position: relative;
		min-height: 104px;
		border: 3px dashed #ddd;
		border-radius: 3px;
		vertical-align: middle;
		width: 100%;
		cursor: pointer;
		padding: 0 15px 15px 0;
		-webkit-transition: all .2s;
		transition: all .2s;

		&:hover {
			.fa-cloud-upload {
				background: #1d89cf;
				color: #FFF;
			}
		}

		.fa-cloud-upload {
			display: block;
			width: 70px;
			height: 70px;
			position: absolute;
			left: 0;
			top: 0;
			text-align: center;
			line-height: 70px;
			font-size: 32px;
			background: #eee;
			color: #aaa;
			border-radius: 2px;
			-webkit-transition: all .2s;
			transition: all .2s;
		}
		.dz-message {
			background-image: none !important;

			color: #555;
			font-size: 20px;
			font-weight: 600;
			display: block;
			min-height: 70px;
			width: 100%;
			position: absolute;
			padding-left: 90px;
			padding-top: 12px;
			line-height: 22px;
			top: 50%;
			margin-top: -35px !important;
			left: 50%;
			-webkit-transition: all .2s;
			transition: all .2s;

			span {
				display: block !important;
			}

			.dz-text-small {
				font-size: 14px;
				font-weight: 400;
			}
		}

		.dz-filename {
			display: none;
		}
	}
}

/* стили для lightbox-a */
.lightbox_modal_image {
	max-width: 600px;
}
.lightbox.thumbnail {
	padding: 4px;
	border-radius: 2px;
	border: solid 1px #ddd;
	height: 100px;
	margin: 0 8px 0 0;
	cursor: pointer;
	display: inline-block;
	position: relative;

	&:hover {
		border-color: #08c;
	}
	img {
		max-width: 90px;
		max-height: 90px;
	}
	span {
		color: #d00;
		font-size: 18px;
		position: absolute;
		top: -10px;
		right: -5px;
	}
}