.task-list {
	width: 240px;
	overflow: auto;
	float: left;
	height: 300px;
	z-index: 100;
	position: absolute;
}

.task-hours {
	padding-left: 250px;
	width: 100%;
	overflow: scroll;
	float: left;
	position: absolute;
	height: 300px;
	z-index:50;
}
